.stylus-editor
    flex 1
    display flex
    flex-direction column
    .k-form
        flex 1
        overflow auto
    .k-code
        flex 1
    .k-form-item
        > .k-label
            line-height inherit 
        > .k-append
            width 80px
            .k-btn:first-of-type
                margin-right 8px
        &:not(:last-of-type)
            margin-bottom 8px

