@require('~kpc/styles/themes/default.styl')

$headerHeight = 48px

html
    background #f1f1f5

.k-app
    height 100%
    display flex
.k-layout
    height 100%
    > .k-header
        // background #fff
        color #fff
        // height $headerHeight 
        // box-shadow $box-shadow
        // border-bottom 1px solid #f2f2f2 
    > .k-layout
        // padding-top $headerHeight !important
        > .k-aside
            // padding-top $headerHeight !important
            box-shadow $box-shadow
    .k-menu
        background #fff
        .k-menu
            background #fff
        .cn-name
            margin-left 8px
            font-size 12px
    > .k-body
        margin 0
        width 100%
.logo
    width 160px
    // height $headerHeight 
    // line-height @height
    text-align center
    float left
    margin 0 20px
    font-weight bold
    img
        vertical-align middle
        width 30px
        margin-right 8px
.k-split 
    > .k-first
        overflow hidden
    > .k-last
        background #fff
        padding 16px
        display flex
        flex-direction column 
        .k-collapse
            flex 1
        .footer
            text-align right
            padding-top 16px
            border-top 1px solid $border-color
            margin-top 16px
        .k-tabs
            margin-bottom 16px
.k-collapse
    overflow-y auto
    overflow-x hidden
.code-panel
    > .k-content
        > .k-wrapper
            padding 0
.variables-panel
    .k-form-item
        > .k-label
            line-height inherit 
        > .k-append
            width 80px
            .k-btn:first-of-type
                margin-right 8px
        &:not(:last-of-type)
            margin-bottom 8px
iframe
    width 100%
    height 100%
    border none
