use('./dirname.js')
$theme-dir := __dirname()


$primary-color := #1976d2 
$danger-color := rgb(220, 0, 78)

$box-shadow := 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12)

$text-color := rgba(0, 0, 0, 0.87)
$line-height := 1.43
$border-radius := 4px

// btn
$btn-bg-color := #e0e0e0
$btn-color := $text-color
$btn-hover-color := $text-color

// slider
$slider-height := 2px
$slider-handle-bg-color := $primary-color
$slider-handle-height := 12px
$slider-handle-hover-transform := none
