use('./dirname.js')
if lookup('$theme-dir') 
    push($theme-dir, __dirname())
else
    $theme-dir = __dirname()

@require('../../../node_modules/kpc/styles/mixin.styl')
@require('./global.variables.styl')
