$btn-color := $text-color
$btn-bg-color := #e0e0e0
$btn-border-color := $btn-bg-color
$btn-hover-color := $text-color
$btn-hover-border-color := #d5d5d5
$btn-ghost-color := $text-color
$btn-default-ghost-border-color := rgba(0, 0, 0, 0.23)
$btn-ghost-hover-color := $text-color
$btn-default-ghost-hover-border-color := $btn-default-ghost-border-color
$btn-disabled-ghost-border-color := $disabled-border-color
$btn-secondary-border-color := $secondary-color
$btn-secondary-hover-bg-color := palette($btn-secondary-border-color, 2)
$btn-secondary-active-bg-color := $btn-secondray-hover-bg-color
$btns-primary-border-color := darken($primary-color, 20%)
$btns-warning-border-color := darken($warning-color, 20%)
$btns-danger-border-color := darken($danger-color, 20%)
$btns-success-border-color := darken($success-color, 20%)
$btn-secondary-color := #fff