.k-dialog
    box-shadow $box-shadow
    // override footer button
    .k-footer
        .k-btn
            box-shadow none
            color $primary-color
            background none
            border none
            padding 0 8px
            &:hover
                background rgba(25, 118, 210, 0.08)
    // close button
    .k-header
        .k-close
            border-radius 50%