.k-form-item
    // invalid
    &.k-invalid
        .k-input
        .k-select
            > .k-wrapper
                &:after
                    transform scale(1)
                    border-bottom-color $danger-color
