use('./dirname.js')
if lookup('$theme-dir') 
    push($theme-dir, __dirname())
else
    $theme-dir = __dirname()

@require('../../../node_modules/kpc/styles/mixin.styl')
@require('./global.variables.styl')

@require('./button.variables.styl')
@require('./slider.variables.styl')
@require('./checkbox.variables.styl')
@require('./radio.variables.styl')
@require('./input.variables.styl')
@require('./form.variables.styl')
@require('./badge.variables.styl')
@require('./breadcrumb.variables.styl')
@require('./card.variables.styl')
@require('./select.variables.styl')
@require('./dropdown.variables.styl')
@require('./collapse.variables.styl')
@require('./datepicker.variables.styl')
@require('./dialog.variables.styl')
@require('./menu.variables.styl')
@require('./message.variables.styl')
@require('./pagination.variables.styl')
@require('./progress.variables.styl')
@require('./rate.variables.styl')
@require('./spinner.variables.styl')
@require('./steps.variables.styl')
@require('./switch.variables.styl')
@require('./table.variables.styl')
@require('./tabs.variables.styl')
@require('./tag.variables.styl')
@require('./tip.variables.styl')
@require('./tooltip.variables.styl')
@require('./upload.variables.styl')
@require('./tree.variables.styl')
@require('./layout.variables.styl')