$input-border := none
$input-focus-border := none
$input-hover-border := none
$input-padding-left-right := 0px
$input-default-padding-left-right := 0px
$input-group-bg-color := transparent
$input-disabled-bg-color := transparent
$input-disabled-col := rgba(0, 0, 0, 0.38)