$menu-bg-color := $primary-color
$menu-width := 256px
$menu-item-color := #fff
$menu-item-disabled-color := $disabled-color
$menu-sub-bg-color := transparent
$menu-item-padding := 0 unit(8 / 16, rem)
$menu-item-icon-width := unit(24 / 16, rem)
$menu-font-size := 13px
$menu-item-padding-left := 56px
$menu-light-bg-color := #fff
$menu-light-sub-bg-color := #fff
$menu-collapsed-width := 80px
$menu-header-border-bottom := 1px solid rgba(255, 255, 255, 0.12)
$menu-header-height := 64px
$menu-large-width := 300px