$message-bg-color := rgb(49, 49, 49)
$message-box-shadow := 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12)
$message-icon-color := #fff
$message-content-padding := 14px 8px
$message-icon-top := 11px
$message-icon-left := 1rem
$message-danger-color := #fff
$message-success-color := #fff
$message-warning-color := #fff