.k-pagination
    .k-btns
        box-shadow none
    &:not(.k-no-border):not(.k-simple)
        .k-btn
            border none
            box-shadow $box-shadow
        .k-btn:not(.k-disabled):not(.k-active)
            background #fff
            color $text-color
        .k-ellipsis
            box-shadow none
    &.k-no-border
        .k-btn
            border-radius 48px !important