.k-select
    > .k-wrapper
        &::before
        &::after
            z-index 2
            content ''
            display block
            position absolute
            left 0
            right 0
            bottom 0
        &::before
            border-bottom 1px solid rgba(0, 0, 0, 0.42)
            transition border-bottom-color $transition
        &::after
            border-bottom 2px solid $primary-color
            transform scaleX(0)
            transition transform $transition
    &:not(.k-disabled)
        > .k-wrapper
            &:hover
                &:before
                    border-bottom 2px solid rgba(0, 0, 0, 0.87)
    &:focus-within:not(.k-disabled)
        > .k-wrapper::after
            transform scaleX(1)
    .k-input
        .k-wrapper
            &::before
            &::after
                display none
    &.k-disabled
        > .k-wrapper
            &::before
                border-bottom-style dotted
    // arrow
    .k-arrow::before
        font-size 14px
    // suffix
    .k-suffix
        right 8px
    // inline
    &.k-inline
        > .k-wrapper
            &::before
            &::after
                display none

.k-select-dropdown
    .k-active
        color $text-color
        background rgba(0, 0, 0, 0.14)
