$select-border := none
$select-focus-border := none
$select-hover-border := none
$select-icon-color := rgba(0, 0, 0, 0.54)
$select-disabled-bg-color := transparent
$select-dropdown-max-height := 300px
$select-multiple-tag-border-radius := 24px
$select-multiple-tag-bg-color := #e0e0e0
$select-multiple-tag-padding := 6px 12px
$select-multiple-values-margin := 0
$select-multiple-tag-margin := 0 4px 2px 0
$select-padding-left-right := 0px