$steps-bg-color := transparent
$steps-head-inner-width := 24px
$steps-head-padding-right := 8px
$steps-head-color := #fff
$steps-head-inner-border := none
$steps-main-color := rgba(0, 0, 0, 0.38)
$steps-done-head-color := #fff
$steps-line-tail-bg-color := #bdbdbd
$steps-line-done-tail-bg-color := #bdbdbd