$switch-default-height := 14px
$switch-default-padding := 0
$switch-default-width := 34px
$switch-large-padding := 0
$switch-large-height := 18px
$switch-large-width := 40px
$switch-small-padding := 0
$switch-small-height := 12px
$switch-small-width := 30px
$switch-mini-padding := 0
$switch-mini-height := 10px
$switch-mini-width := 26px