$tabs-height := 48px
$tabs-margin := 0
$tabs-border := none
$tabs-color := rgba(0, 0, 0, 0.54)
$tabs-padding := 0 12px
$tabs-large-height := 56px
$tabs-large-padding := 0 14px
$tabs-small-height := 40px
$tabs-small-padding := 0 10px
$tabs-mini-height := 32px
$tabs-mini-padding := 0 8px