$tag-padding := 0 12px
$tag-border-color := rgba(0, 0, 0, 0.23)
$tag-font-size := 13px
$tag-primary-color := #fff
$tag-primary-bg-color := $primary-color
$tag-success-color := #fff
$tag-success-bg-color := $success-color
$tag-warning-color := #fff
$tag-warning-bg-color := $warning-color
$tag-danger-color := #fff
$tag-danger-bg-color := $danger-color
$tag-large-padding := 0 14px
$tag-small-padding := 0 10px
$tag-mini-padding := 0 8px