.k-component-tip
    border-radius $border-radius
    height auto
    padding 16px
    line-height inherit
    &.k-primary
    &.k-warning
    &.k-danger
    &.k-success
        color #fff
    > .k-close
        right 16px !important
        &.k-custom
            width auto
            background none
            border-radius 0
            > span
                line-height 1
            &:hover
                background none